receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  
exporters:
  debug:
    verbosity: detailed
  otlp_http:
    traces_endpoint: "https://otlp.datadoghq.com/v1/traces"
    metrics_endpoint: "https://otlp.datadoghq.com/v1/metrics"
    logs_endpoint: "https://otlp.datadoghq.com/v1/logs"
    headers:
      dd-api-key: ${env:DD_API_KEY}
      # dd-otel-metric-config: '{"resource_attributes_as_tags": true}'
      # dd-otel-span-mapping: "{span_name_as_resource_name: false}"
      dd-otlp-source: "datadog"

# extensions:
#   health_check:
#       endpoint: 0.0.0.0:13133
#   zpages:
#     endpoint: 0.0.0.0:55679
#     expvar:
#       enabled: true

service:
  # extensions: [health_check, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp_http, debug]
    # metrics:
    #   receivers: [otlp]
    #   # processors: [batch]
    #   exporters: [debug]
    # logs:
    #   receivers: [otlp]
    #   # processors: [batch]
    #   exporters: [debug]