receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
#   resource:
#     attributes:
#       - key: service.name
#         value: "jek-service"
#         action: upsert
#       - key: deployment.environment.name
#         value: "production"
#         action: upsert
#       - key: service.version
#         value: "1.2.3"
#         action: upsert
  
exporters:
  debug:
    verbosity: detailed
  # otlp_http:
  #   traces_endpoint: "https://otlp.datadoghq.com/v1/traces"
  #   metrics_endpoint: "https://otlp.datadoghq.com/v1/metrics"
  #   logs_endpoint: "https://otlp.datadoghq.com/v1/logs"
  #   headers:
  #     dd-api-key: ${env:DD_API_KEY}
  #     # dd-otel-metric-config: '{"resource_attributes_as_tags": true}'
  #     # dd-otel-span-mapping: "{span_name_as_resource_name: false}"
  #     dd-otlp-source: "US1"
  # datadog:
  #   api:
  #     key: ${env:DD_API_KEY}
  #   sending_queue:
  #     batch:
  #       min_size: 10
  #       max_size: 100
  #       flush_timeout: 10s

# extensions:
#   health_check:
#       endpoint: 0.0.0.0:13133
#   zpages:
#     endpoint: 0.0.0.0:55679
#     expvar:
#       enabled: true

service:
  # extensions: [health_check, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      # processors: [batch]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      # processors: [batch]
      exporters: [debug]
    logs:
      receivers: [otlp]
      # processors: [batch]
      exporters: [debug]