# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl

# Java/Maven files
app/target/
app/.mvn/
app/mvnw
app/mvnw.cmd
*.class
*.jar
*.war
*.ear

# IDE files
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log
